
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(237, 241, 237);
}

.logo {
  font-family: 'Mr Dafoe', cursive;
  color: goldenrod;
  word-spacing: 0.3rem;
}

.form {
  display: grid;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  line-height: 1.8rem;
  border-radius: 10px;
  border: 1px solid #d7cece;
  margin-bottom: 1rem;
}

/* button {
  background-color: rgba(0,0,0,0.75);
  color: rgb(24, 6, 63);
  padding: 0.5rem 2rem;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 10px;
} */

button:hover {
  background-color: rgba(51, 44, 44, 0.75);
}

@media (min-width:786px){
  .form {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
  }
  
  .input {
      margin-bottom: 0;
  }
}

.label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
